<div class="page-content">
	<div class="contact-header">
		<div class="item-photo">
			<img src="/static/img/church.png">
		</div>
		<div class="header-text">
			{{#if model.isFavorite}}<i class="icon icon-favorite ion-ios7-star"></i>{{/if}}
			<h3>{{model.name}}</h3>
			<p><i class="icon ion-map"></i> : {{model.address}}</p>
			<p><i class="icon ion-home"></i> : {{ model.website || 'Đang cập nhật' }}</p>
		</div>
	</div>
</div>